version: "3"
services:
    db:
        image: mariadb:10.5.1
        container_name: trinity-db
        volumes:
            - ./mysql:/var/lib/mysql
            - ./dbdumps:/var/dbdumps
            - ./dbrestore:/var/dbrestore
            - ./conduit:/var/trinityscripts:rw
        ports:
        - 3306:3306
        expose:
        - '3306'
        env_file:
            -   environment
        restart: unless-stopped
        networks:
            - trinity_network

    world:
        image: trinitycore
        container_name: trinity-world
        ports:
        - 8085:8085
        - 3443:3443 # used for remote access via telnet
        volumes:
            - ./systemd/worldserver.service:/etc/systemd/system/worldserver.service
            - ./local-conf/worldserver.conf:/srv/wow/trinitycore/3.3.5a/etc/worldserver.conf
            - ./conduit:/var/trinityscripts:rw
            - /etc/localtime:/etc/localtime:ro
        depends_on:
        - db
        restart: unless-stopped
        # uncomment this line to when you are ready to start trinity
        #command: /bin/sh -c "cd /srv/wow/trinitycore/3.3.5a/bin && ./worldserver"
        #command: /bin/bash -c "systemctl enable worldserver.service"
        networks:
            - trinity_network

    auth:
        image: trinitycore
        container_name: trinity-auth
        ports:
        - 3724:3724
        volumes:
            - ./systemd/authserver.service:/etc/systemd/system/authserver.service
            - ./local-conf/authserver.conf:/srv/wow/trinitycore/3.3.5a/etc/authserver.conf
            - /etc/localtime:/etc/localtime:ro
        depends_on:
        - world
        - db
        restart: unless-stopped
        # uncomment this line to when you are ready to start trinity
        #command: /bin/sh -c  "cd /srv/wow/trinitycore/3.3.5a/bin && ./authserver"
        #command: /bin/bash -c "systemctl enable authserver.service"
        networks:
            - trinity_network
networks:
    trinity_network:
        driver: bridge
